# 设置代理
registry=https://registry.npmmirror.com
# 半严格node_modules结构
shamefully-hoist=true
# hoist = true
strict-peer-dependencies=true
auto-install-peers=true
engine-strict =true
# node-linker=hoisted
